<h1 class="text-center">{{data.countryName }}</h1>


<div class="jumbotron">
<h2>Country Code: {{cName}}</h2>

<h2>Population of Country: {{data.population | number}}</h2>

<h2>Area: {{data.areaInSqKm | number}} km2</h2>

<h2>Capital: {{data.capital}}</h2>


<h2> Population of Capital: {{lol.population | number}}</h2>

<h2> Neighbors: 
<span ng-if="neighbor1.countryName != undefined">{{neighbor1.countryName}},</span><span ng-if="neighbor2.countryName != undefined"> {{neighbor2.countryName}}</span><span ng-if="neighbor3.countryName != undefined">,{{neighbor3.countryName}}</span></h2>
<br>	
	<div class="row" ng-cloak>

		<div class="col-sm-6">
			<img id='myImage' src="http://www.geonames.org/img/country/250/{{data.countryCode}}.png" class="img-thumbnail" />
		</div>
	<div class="col-sm-6">
		
			<img src="http://www.geonames.org/flags/x/{{data.countryCode | lowercase}}.gif" class="img-thumbnail"/>
			
	</div>
</div>

<br>

<a href="#/" class="btn btn-lg btn-success">Home</a>
<a href="#/countries" class="btn btn-lg btn-danger">Back to Country List</a>