<div class="well">
  <div class="mainText">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aperiam, maiores, temporibus, minus facilis praesentium commodi veritatis vero fugit nisi doloremque laborum harum porro tempora incidunt natus autem adipisci</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, vero, quod vitae blanditiis nihil adipisci minima beatae doloremque sequi culpa molestiae dolor fuga. Laboriosam, illo alias necessitatibus officia sapiente minus.</p>
  </div>
  <div class="text-center">
 	 <a href="#/countries" class="btn btn-lg btn-danger">Browse Countries</a>
 </div>
</div>
